* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0f0f0;
  font-family     : "Roboto", sans-serif;
  color           : $color-body;

  display       : flex;
  flex-direction: column;
  height        : 100vh;
}

img {
  max-width: 100%;
}

a {
  color: $color-secondary;

  @include laptop {
    &:hover {
      text-decoration: underline;
    }
  }
}