h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.35;
    font-weight: 700;
}

p {
    line-height: 1.75;
}

p,
ul,
ol,
dl,
blockquote {
    margin-bottom: 1.5rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.title {
    font-size  : 2.25rem;
    font-weight: 500;

    @include phone {
        margin-bottom: 1.875rem;
    }

    @include tablet {
        margin-bottom: 1.875rem;
    }
}