# Redirect 401s,402s,403,404s and 500s to 404.php
Options -Indexes
ErrorDocument 401 /veterinair-centrum/404.php
ErrorDocument 402 /veterinair-centrum/404.php
ErrorDocument 403 /veterinair-centrum/404.php
ErrorDocument 404 /veterinair-centrum/404.php
ErrorDocument 500 /veterinair-centrum/404.php