$color-primary       : #198f6c;
$color-secondary     : #004a80;
$color-muted         : #8a8a8a;
$color-body          : #373737;
$color-white--filter : invert(99%) sepia(0%) saturate(78%) hue-rotate(28deg) brightness(112%) contrast(100%);
$color-muted--filter : invert(69%) sepia(0%) saturate(1528%) hue-rotate(316deg) brightness(81%) contrast(66%);
$color-body--filter  : invert(17%) sepia(0%) saturate(0%) hue-rotate(357deg) brightness(99%) contrast(86%);