.blog__headline {
    font-size  : 1.5rem;
    font-weight: 400;

    @include phone {
        margin-bottom: 0.9375rem;
    }

    @include tablet {
        margin-bottom: 1.25rem;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.blog__headline-link {
    display        : inline-block;
    text-decoration: none;
    color          : $color-primary;

    &:hover {
        text-decoration: underline;
    }
}