/* ---------------------------------------------------------------------------
  >>> TABLE OF CONTENTS
  ------------------------
    0. About
    1. Blog
    2. Team
------------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------------
    0. About
------------------------------------------------------------------------------ */
.about__outer-container {
    background-color: $color-primary;
    color           : white;
    padding         : 3.125rem 0;

    @include phone {
        padding-bottom: 0;
    }

    @include tablet {
        padding-bottom: 0;
    }

    @include laptop {
        padding-bottom: 3.125rem;
    }
}

.about__inner-container {
    margin: 0 auto;

    @include laptop {
        width    : 80%;
        max-width: 50rem;
    }

    @include desktop {
        width    : 60%;
        max-width: 56.25rem;
    }
}


.about__carousel-item {
    display       : flex;
    flex-direction: column;

    @include phone {
        flex   : 0 0 80%;
        padding: 0 1.5625rem;
    }

    @include tablet {
        flex   : 0 0 40%;
        padding: 0 1.5625rem;
    }

    @include tablet-landscape {
        flex: 1;
    }

    @include laptop {

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

/* ---------------------------------------------------------------------------
    1. Blog
------------------------------------------------------------------------------ */
.blog-container {
    margin : 0 auto;
    padding: 1.5625rem 0;

    @include phone {
        width: 90%;
    }

    @include tablet {
        width: 90%;
    }

    @include laptop {
        padding  : 3.125rem 0;
        width    : 80%;
        max-width: 50rem;
    }

    @include desktop {
        width    : 60%;
        max-width: 56.25rem;
    }
}

.blog__items {
    display  : flex;
    flex-wrap: wrap;
}

.blog__item {
    @include phone {
        margin-bottom: 1.875rem;
    }

    @include tablet {
        flex: 1 1 calc(50% - 1.875rem);
    }

    @include tablet-landscape {
        flex  : 0 0 calc(100%/3 - 1.875rem);
        margin: 0 1.875rem 1.875rem 0;
    }

    &:nth-child(odd) {
        @include tablet {
            margin: 0 1.875rem 1.875rem 0;
        }
    }

    &:nth-child(3n) {
        @include tablet-landscape {
            margin-right: 0;
        }
    }

    &:last-child {
        @include tablet {
            margin: 0;
        }
    }

    &>* {
        &:last-child {
            margin-bottom: 0;
        }

        @include phone {
            margin-bottom: 0.9375rem;
        }

        @include tablet {
            margin-bottom: 0.9375rem;
        }
    }
}

.blog__headline {
    font-weight: 400;

    @include phone {
        margin-bottom: 0.9375rem;
    }

    @include tablet {
        margin-bottom: 1.25rem;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.blog__headline-link {
    display        : inline-block;
    text-decoration: none;
    color          : $color-primary;
    position       : relative;
    font-size      : 1.5rem;

    &:hover {
        text-decoration: none;
    }

    &:after {
        content         : "";
        display         : block;
        background-color: $color-primary;
        position        : absolute;
        left            : 0;
        bottom          : -5px;
        width           : 0;
        margin          : 0 auto;
        height          : 0.125rem;
        @include transition--fast;
    }

    &:hover:after,
    &:active:after,
    &:focus:after {
        @include laptop {
            width: 100%;
        }
    }
}

.blog__links-container {
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
}

.blog__readmore {
    display        : inline-block;
    font-weight    : 700;
    font-variant   : all-small-caps;
    font-size      : 1.25rem;
    text-decoration: none;
    position       : relative;
    margin-bottom  : calc(0.9375rem - 0.125rem);
}

.blog__metadata {
    display        : inline-block;
    color          : $color-muted;
    text-decoration: none;
}

/* ---------------------------------------------------------------------------
    2. Team
------------------------------------------------------------------------------ */
.team__outer-container {
    background-color: white;
}

.team__inner-container {
    margin: 0 auto;

    @include phone {
        padding: 1.5625rem 0 0;
    }

    @include tablet {
        padding: 3.125rem 0 0;
    }

    @include laptop {
        width    : 80%;
        max-width: 50rem;
        padding  : 3.125rem 0
    }

    @include desktop {
        width    : 60%;
        max-width: 56.25rem;
    }
}

.team__carousel {
    @include laptop {
        flex-wrap: wrap;
    }
}

.team__carousel-item {
    flex: 0 0 auto;

    @include phone {
        padding-right: 1.5625rem;
    }

    @include tablet {
        padding-right: 1.5625rem;
    }

    @include laptop {
        flex   : 0 0 calc(100%/3);
        padding: 0 3.125rem 1.5625rem 0;
    }

    &:nth-child(3n+3) {
        @include laptop {
            padding-right: 0;
        }
    }

    &:nth-last-child(-n+3) {
        @include laptop {
            padding-bottom: 0;
        }
    }

    &:first-child {
        @include phone {
            padding-left: 1.5625rem;
        }

        @include tablet {
            padding-left: 1.5625rem;
        }

        @include laptop {
            padding-left: 0;
        }
    }
}

.team__title {
    @include phone {
        padding-left: 1.5625rem;
    }

    @include tablet {
        padding-left: 1.5625rem;
    }

    @include laptop {
        padding-left: 0;
    }
}

.team__member-alert {
    background-color: #ffefdc;
    padding         : 1rem;
    margin-bottom   : 1rem;
    border-radius   : 4px;

    @include phone {
        max-width: 220px;
    }

    @include tablet {
        max-width: 220px;
    }
}

.team__member-name {
    font-weight  : 700;
    font-size    : 1.125rem;
    margin-bottom: 0.625rem;
}

.team__member-position {
    color: $color-muted;
}