.carousel {
    display   : flex;
    flex-wrap : nowrap;
    overflow-x: auto;

    @include laptop {
        justify-content: center;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}