.navigation-container {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.navbar {
    @include phone {
        display: none;
    }

    @include tablet {
        display: none;
    }

    @include laptop {
        display: block;
    }
}

.nav {
    @include laptop {
        display    : flex;
        align-items: center;
        padding-top: 0.625rem;
    }
}

.nav__item {
    margin-right: 1.25rem;

    &:last-child {
        margin-right: 0;
    }
}

.nav__link {
    text-decoration: none;
    display        : inline-block;
    color          : inherit;

    &:hover {
        text-decoration: none;
    }

    &:after {
        content         : "";
        display         : block;
        background-color: white;
        width           : 0;
        margin          : 0.625rem auto 0 auto;
        height          : 0.125rem;
        @include transition;
    }

    &:hover:after,
    &:active:after,
    &:focus:after {
        @include laptop {
            width: 100%;
        }
    }
}

.hamburger {
    filter: $color-white--filter;

    @include laptop {
        display: none;
    }
}