.notification {
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    padding         : 20px;
    background-color: #e7f9f3;
    line-height     : 1.5;
}

.js-notification--hidden{
    display: none;
}

// Coronavirus Notification

.notification--coronavirus {
    background-color: #FFE4E4;
    color           : #802929;

    .notification__close-icon {
        filter    : invert(17%) sepia(61%) saturate(1416%) hue-rotate(327deg) brightness(103%) contrast(94%);
        transition: all .25s ease;

        &:hover {
            opacity: .5;
        }

        @include phone {
            margin-left: 10px;
        }

        @include tablet {
            margin-left: 15px;
        }
    }
}