.sidenav {
    height          : 100vh;
    width           : 0;
    position        : fixed;
    z-index         : 999;
    top             : 0;
    left            : 0;
    background-color: white;
    overflow-x      : hidden;
    transition      : 0.25s;
    color           : $color-muted;
    fill            : $color-muted;

    a {
        color          : $color-muted;
        text-decoration: none;
    }

    .nav__item {
        margin-bottom: 3.125rem;
        padding-left : 2.1875rem;
        position     : relative;
    }

    .nav__link {
        display    : flex;
        align-items: center;
    }

    .nav__icon-container {
        min-width   : 1.625rem;
        margin-right: 1.5625rem;
    }

    .nav__icon {
        filter: invert(61%) sepia(0%) saturate(1114%) hue-rotate(164deg) brightness(89%) contrast(87%);
    }
}

.sidenav__top-bar {
    display         : flex;
    justify-content : flex-end;
    background-color: #eee;
    padding         : 0.9375rem;
    margin-bottom   : 3.75rem;

    .close-icon {
        filter: invert(61%) sepia(0%) saturate(1114%) hue-rotate(164deg) brightness(89%) contrast(87%);
    }
}

.js-sidenav--toggled {
    width: 15.625rem;
}