.footer__outer-container {
    background-color: $color-body;
    color           : white;
}

.footer__inner-container {
    margin : 0 auto;
    padding: 3.125rem 0;

    @include phone {
        width: 90%;
    }

    @include tablet {
        width    : 90%;
        display  : flex;
        flex-wrap: wrap;
    }

    @include laptop {
        width    : 70%;
        max-width: 50rem;
    }

    @include desktop {
        width    : 60%;
        max-width: 56.25rem;
    }

    >* {
        @include phone {
            margin-bottom: 3.125rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        @include tablet {
            flex: 1 1 calc(50% - 1.875rem);
        }

        &:nth-child(odd) {
            @include tablet {
                margin: 0 1.875rem 1.875rem 0;
            }
        }

        &:nth-child(3n-3) {
            @include tablet {
                margin-bottom: 0;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        >*,
        >*>* {
            margin-bottom: 0.9375rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.copyright-container {
    background-color: darken($color: $color-body, $amount: 5);
    color           : $color-muted;
    text-align      : center;

    @include phone {
        padding: 1.5625rem;
    }

    @include tablet {
        padding: 1.5625rem;
    }
}


.contact-container {
    display       : flex;
    flex-direction: column;
}

.footer__divider {
    border: solid 0.0625rem $color-muted;
}

.footer__title {
    font-weight : 600;
    font-size   : 1.5rem;
    font-variant: all-small-caps;
    color       : $color-muted;
}

.footer__container--flex {
    display        : flex;
    justify-content: space-between;

    .dates,
    .working-hours {
        text-transform: lowercase;
    }

    .dates {
        color: $color-muted;
    }
}

.footer__button {
    @include phone {
        max-width : 85%;
        margin-top: 1.875rem;
    }

    @include tablet {
        max-width : 85%;
        margin-top: 1.875rem;
    }
}

.footer__company-detail,
.footer__contact-option {
    display: flex;
}

.footer__icon {
    fill         : $color-muted;
    margin-right : 1.25rem;
    margin-bottom: 0 !important;
    width        : 24px;
}

.footer__link {
    display        : inline-flex;
    align-items    : center;
    color          : inherit;
    text-decoration: none;
}

/* ---------------------------------------------------------------------------
      9. About
  ------------------------------------------------------------------------------ */
.about__carousel-item {
    &:first-child {
        .about__icon {
            width: 70px;
        }
    }
}

.about__icon {
    margin: 0 auto;
    width : 3.125rem;
    height: 3.125rem;
    filter: $color-white--filter;

    @include phone {
        margin-bottom: 1.5625rem;
    }

    @include tablet {
        margin-bottom: 1.5625rem;
    }
}